.App {
  text-align: center;
}

.Card {
  border: solid 2px red;
  max-width: 80%;
  margin: 10px;
  border-radius: 5px;
}
.App-header {
  border: solid 2px purple;
  margin: 10px;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Homepage {
  border: solid 2px green;
  margin: 10px;
}
